---

---

<form id="login-form">
  <h1>Login</h1>
  <p id="error-message" style="color: red; display: none;"></p>
  <label>
    Username:
    <input type="text" id="username" name="username" />
  </label>
  <label>
    Password:
    <input type="password" id="password" name="password" />
  </label>
  <button type="submit">Login</button>
</form>

<script>
  import { SRPAuthClient } from '../lib/auth.client';
  import { DefaultPrimeField } from '../lib/srp.client';

  const client = new SRPAuthClient('', DefaultPrimeField);

  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('login-form');
    if (!form) return;

    const errorMessage = document.getElementById('error-message');
    const usernameInput = form.querySelector('#username') as HTMLInputElement;
    const passwordInput = form.querySelector('#password') as HTMLInputElement;

    if (!errorMessage) return;
    if (!usernameInput) return;
    if (!passwordInput) return;

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const username = usernameInput.value.trim();
      const password = passwordInput.value.trim();

      if (!username || !password) {
        errorMessage.textContent = 'Username and password are required!';
        errorMessage.style.display = 'block';
        return;
      }

      errorMessage.style.display = 'none';

      const urlParams = new URLSearchParams(window.location.search);
      const serviceId = urlParams.get('service');

      if (!serviceId) {
        errorMessage.textContent = 'Missing target service!';
        errorMessage.style.display = 'block';
        return;
      }

      const result = await client.login(serviceId, username, password);
      if (!result.success) {
        errorMessage.textContent = result.error;
        errorMessage.style.display = 'block';
      } else {
        errorMessage.style.display = 'none';
        alert('logged in!');
      }
    });
  });
</script>
